@tailwind base;
@tailwind components;
@tailwind utilities;

.h3-semibold {
    font-weight: 600;
    font-size: 33px;
    line-height: 40px;
    letter-spacing: -2%
}
.h4-small-semibold,.h5-semibold {
    font-weight: 600;
    font-size: 23px;
    line-height: 28px;
    letter-spacing: -2%
}
.gap-16 {
    gap: 16px
}